<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @reading.read_at %>
</p>


<p>
  <strong>Zimna Woda:</strong>
  <%= @reading.cold_water %>
</p>


<p>
  <strong>Centralne ogrzewanie:</strong>
  <%= @reading.central_heating %>
</p>



<p>
  <strong>Ciepła woda:</strong>
  <%= @reading.hot_water %>
</p>

<p>
  <strong>Elektryka:</strong>
  <%= @reading.electricity %>
</p>



<%= link_to 'Edytuj', edit_reading_path(@reading) %> |
<%= link_to 'Cofnij', readings_path %>
