<p id="notice"><%= notice %></p>

<p>
  <strong>Imię:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @client.surname %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Początek:</strong>
  <%= @client.rent_start %>
</p>

<p>
  <strong>Koniec:</strong>
  <%= @client.rent_end %>
</p>

<%= link_to 'Edytuj', edit_client_path(@client) %> |
<%= link_to 'Powrót', clients_path %>
