<h1>:Lista stawek</h1>

<table>
  <thead>
    <tr>
      <th>Ważne od</th>
      <th>Zimna woda</th>
      <th>Centralne ogrzewanie</th>
      <th>Ciepła woda</th>
      <th>Elektryczność</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rates.each do |rate| %>
      <tr>
        <td><%= rate.valid_from %></td>
        <td><%= rate.cold_water %></td>
        <td><%= rate.central_heating %></td>
        <td><%= rate.hot_water %></td>
        <td><%= rate.electricity %></td>
        <td><%= link_to 'Show', rate %></td>
        <td><%= link_to 'Edit', edit_rate_path(rate) %></td>
        <td><%= link_to 'Destroy', rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowa stawka', new_rate_path %>
